/* UPLOAD ADDPOST */

section.fsSection{
    overflow: hidden;
}

/* NAVigation */
div#formProgressBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 25px;
    background: #B59E5C;
}

#drop{
  height:300px;
  width:300px;
  border: 5px dashed #CCC;
  text-align:   center;
  font-family: sans-serif;
  color: #CCC;
  font-size: 25px;
  line-height: 280px;
}

#drop.hover{
  color:#8dd0ff;
  border-color:#8dd0ff;
}

form#addPhotoForm{
  display: none;
}

div#formMap{
  height:100%;
  width: 100%;
}