/* NAVigation */
nav#addpostnav{
    position:fixed;
    z-index: 100;
    width: 100%;
    height: 50px;
}

#formProgress{
    position: absolute;
    height: 30px;
    width: 100%;
    background: #1B1B1B;
}

#formStep{
    white-space: nowrap;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    z-index: 175;
    color: #fff;
}

#formProgressBar{
    position: absolute;
    top: 0px;
    left: 0;
    width: 33%;
    height: 30px;
    background: #B59E5C;
    transition: .1s ease;
    -moz-transition: .1s ease;
    -webkit-transition: .1s ease;
}



section.formSection{
    background: #fff;
    overflow:hidden;
    -webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
    -moz-transition: .65s cubic-bezier(.2,.1,.1,1);
    -o-transition: .65s cubic-bezier(.2,.1,.1,1);
    transition: .65s cubic-bezier(.2,.1,.1,1);
}

/*  DROP */

#drop{
    position:absolute;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 25px;
    border: 5px dashed #888;
    text-align:   center;
    font-family: sans-serif;
    color: #CCC;
    font-size: 25px;
    line-height: 280px;
}

#drop.hover{
    color:#B59E5C;
    border-color:#B59E5C;
}

div#previews{
    position:absolute;
    z-index: 50;
    width: 200px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

div#previewImageContainer{
    text-align: center;
}

img.previewImage{
    border: 2px dashed rgb(126, 126, 126);
}

p.name{
    font-family: 'Uni Sans Heavy';
    text-align: center;
}

p.#addPostErrorMsg{
    font-family: 'Montserrat Bold';
    font-size: .9em;
    color: #D72828;
}

p.size{
    text-align: center;
}


div.progress{
    height: 20px;
    border-radius: 5px;
    margin: 10px 0;
    background: #888;
}

.progress-bar{
    background: #B59E5C;
    height:20px;
}

#photorender{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    max-height: 80%;
    max-width: 80%;
}

/*MAP*/

section#locate{
    background: #050505;
    overflow:hidden;
}

div#formMap{
    height:100%;
    width: 100%;
    opacity: .7;
}

span#addressInputContainer{
    position: absolute;
    top: 200%;
    left: 50%;
     -webkit-transform: translate3d(-50%, -100px, 0);
    -moz-transform: translate3d(-50%, -100px, 0);
    -o-transform: translate3d(-50%, -100px, 0);
    transform: translate3d(-50%, -100px, 0);

    -webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
    -moz-transition: .65s cubic-bezier(.2,.1,.1,1);
    -o-transition: .65s cubic-bezier(.2,.1,.1,1);
    transition: .65s cubic-bezier(.2,.1,.1,1);
}

span#addressInputContainer.up{
    -webkit-transform: translate3d(-50%, -270px, 0);
    -moz-transform: translate3d(-50%, -270px, 0);
    -o-transform: translate3d(-50%, -270px, 0);
    transform: translate3d(-50%, -270px, 0);
}

span#addressPin:before{
    content: '';
    background: url(../images/pin.png) no-repeat;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    color:#B59E5C;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    width:25px;
    height:35px;
    vertical-align: bottom;
}

input#addressInput{
    padding: 5px;
    width: 250px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

input#addressInput:focus{
    outline: none;
    border-bottom: 2px solid #B59E5C;
}

section#closePostsContainer{
    height: 200px;
    width:100%;
    position: absolute;
    top: 200%;
    left: 0;
    background: #1b1b1b;
    padding-bottom: 15px;
    overflow: hidden;
    text-align: center;
    overflow-y: auto;
    
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    
    -webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
    -moz-transition: .65s cubic-bezier(.2,.1,.1,1);
    -o-transition: .65s cubic-bezier(.2,.1,.1,1);
    transition: .65s cubic-bezier(.2,.1,.1,1);
}

section#closePostsContainer h1{
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

section#closePostsContainer.ng-hide-remove{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

section#closePostsContainer.ng-hide-remove-active{
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

section#closePostsContainer.ng-hide-add{
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

section#closePostsContainer.ng-hide-add-active{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*POStInfo*/


form#addPhotoForm{
    display: none;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form#addPostForm{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 850px) {

}

@media only screen and (max-width: 680px) {
    #formProgress{   
        width: 100% !important;
    }

    #drop{
        right: 10px;
    }
}
















