#map{
  width:100%;
}

#mosaic{
  width:100%;
}

#filtres{
  width:100%;
  height:;
}

.post a{
  color:#fff;
  text-decoration: none;
}

.post a:visited{
  color:#fff;
}

.post{
  border-top:2px solid black;
  border-right:2px solid black;
  border-bottom:2px solid black;
  position: relative;
  display: inline-block;
  height:200px;
  width:250px;
  overflow: hidden;
  background: #000;
  transition: .5s ease;
  -webkit-transition: .5s ease;
}

.post.ng-enter{
  width:0;
  /*-webkit-transform: translateY(100px);
  transform: translateY(100px);*/
  opacity: 0;
}

.post.ng-enter-active{
  width:250px;
  /*-webkit-transform: translateY(0px);
  transform: translateY(0px);
 */ opacity: 1;
}
.post.ng-leave-active{
  width:0;
  /*-webkit-transform: translateY(100px);
  transform: translateY(100px);*/
  opacity: 0;
}

.post.ng-enter-stagger{
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}

.post.ng-leave-stagger{
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}

.post img{
  position: absolute;
  top:0;
  left:0;
  width:250px;
  height: auto;
  z-index:0;
}

.post div.over{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  background: rgba(0,0,0,.5);
  -webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
  transition: .65s cubic-bezier(.2,.1,.1,1);
  z-index: 1;
  color: #fff;
}

.post div.over:hover{
  opacity: 1;
}
