#map{
	width:100%;
    min-height: 100px !important;
	-moz-transition: .65s cubic-besiez(.2,.1,.1,1);
	-webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
	transition: .65s cubic-bezier(.2,.1,.1,1);
}

#mosaic{
	border-top: 5px solid #050505;
	width:100%;
    min-height: 150px !important;
	position: fixed;
	bottom: 0;
	overflow-y: scroll;
	background: #050505;
	-moz-transition: .65s cubic-besiez(.2,.1,.1,1);
	-webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
	transition: .65s cubic-bezier(.2,.1,.1,1);
}

#filters{
	position: absolute;
	width:300px;
	height:150px;
	left: 50px;	
	top: 50px;
	color: #fff;
	z-index:300;
}

#switcher{
    min-height: 100px !important;
}

#search{
	width: 250px;
	background: rgba(255,255,255,.7);
	border: none;
	border-radius: 2px;
	color: #050505;
	-moz-transition: .65s ease;
	-moz-transition: .65s ease;
	-webkit-transition: .65s ease;
	transition: .65s ease;
}
#search:focus{
	background: rgba(255,255,255,1);
}


@media only screen and (max-width: 1280px) {
	
}

@media only screen and (max-width: 850px) {
	
}

@media only screen and (max-width: 680px) {
	#mosaic{
		width: 100% !important;
	}

	#map{
		width: 100% !important;
	}

	#filters{
		display: none;
	}
}