/* MAIN */
@font-face {
	font-family: 'Uni Sans Heavy';
	src: url('../fonts/Uni Sans Heavy.otf')format('truetype');
}

@font-face {
	font-family: 'Uni Sans Thin';
	src: url('../fonts/Uni Sans Thin.otf')format('truetype');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.ttf')format('truetype');
}

@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular.ttf')format('truetype');
}

@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.eot?6195574');
	src: url('../fonts/icons.eot?6195574#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff?6195574') format('woff'),
		url('../fonts/icons.ttf?6195574') format('truetype'),
		url('../fonts/icons.svg?6195574#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icons';
		src: url('../font/icons.svg?6195574#icons') format('svg');
	}
}


::selection {
	background: #B59E5C;
	color: #fff;
	text-shadow: none;
}

::-webkit-scrollbar {
	margin-right: 5px;
	background-color: #000;
	width: 15px;
	height:10px;
}

::-webkit-scrollbar-thumb {
	background: #777;
	border:3px solid #000;
}

::-webkit-scrollbar-track{
	box-shadow: 0 0 2px #ccc;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	color:#B59E5C;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-marquee:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; font-size: 1.5em; cursor:pointer;} /* '' */
.icon-camera:before { content: '\e804'; font-size: 1.5em; cursor:pointer;} /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-resize-full:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; font-size: 1.5em; cursor:pointer;} /* '' */
.icon-paper-plane:before { content: '\e80b'; font-size: 1.5em; cursor:pointer;} /* '' */

.icon-comment:before { content: '\e802'; font-size: 1.2em; cursor:pointer;} /* '' */
.icon-comment-empty:before { content: '\e80c'; font-size: 1.2em; cursor:pointer;} /* '' */
.icon-heart:before { content: '\e803'; font-size: 1.2em; cursor:pointer;} /* '' */
.icon-heart-empty:before { content: '\e805'; font-size: 1.2em; cursor:pointer;} /* '' */

span#locationPin:before{
	content: '';
	background: url(../images/pin.svg) no-repeat;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	margin-right: .2em;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	color:#B59E5C;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	width:21px;
	height:30px;
	cursor: pointer;
}

h1{
	font-family: 'Uni Sans Heavy';
	font-size: 18px;
}

h2{
	font-family: 'Uni Sans Thin';
	font-size: 18px;
}

h3{
	font-family: 'Montserrat Bold';
	font-size: 18px;
}

p{
	font-family: 'Open Sans Regular';
	font-size: 16px;
}

span{
	font-family: 'Open Sans Regular';
	font-size: 16px;
}

input{
	padding:5px;
}

input[type="submit"] {
	background: #B59E5C;
	color: #fff;
	font-family: 'Open Sans Regular';
	font-size: 16px;
	border: none;
	cursor: pointer;
}

body{
	padding:0;
	margin:0;
	font-family: 'Open Sans Regular';
	overflow-x:hidden;
	background: #050505;
}

.menu{
	position: fixed;
	height:100%;
	width:80px;
	z-index: 125;
	background: #050505;
	color: #fff;
    overflow: hidden;
	transition: .5s ease;
	-o-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
}

.menu.opened{
	width:200px;
}

.menu ul{
	margin-left:20px;
}

.menu li{
	list-style-type: none;
	margin-top: 10px;
    height: 24px;
    width: 500px;
}

.menu a.menu_link{
    margin-left: 5px;
    display: inline;
	color: #fff;
	font-family: 'Uni Sans Heavy';
	font-size: 15px;
	text-decoration: none;
    transition: .4s ease;
    -o-transition: .4s ease;
    -moz-transition: .4s ease;
    -webkit-transition: .4s ease;
}

.menu a.menu_link:visited{
	color: #fff;
}

.menu a.menu_link:hover{
	color: #B59E5C;
}

.menu a.menu_link.hidden{
    margin-left: 100px;
}

.menu div#logo{
	background: url(../images/logo-retract.svg) no-repeat;
	cursor: pointer;
	height: 80px;
	width: 40px;
	margin: 20px auto;
}

.menu #userAvatar{
	position: absolute;
	bottom: 10px;
	left: 15px;
	width: 500px;
}

.menu #userAvatar img{
	display: inline;
}

#viewcontainer{
	position: absolute;
	left:80px;
	height:100%;
	opacity: 1;
	transition: .5s ease;
	-o-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
}

#viewcontainer.hidden{
	opacity: 0;
}

.view{
	background:#fff;
	position: absolute;
	left:0;
	top: 0;
	height:100%;
	width: 100%;
	display: block;

	transition: .5s cubic-bezier(0.645,.045,.355,1);
	-o-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-moz-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-webkit-transition: .5s cubic-bezier(0.645,.045,.355,1);
}

.slide.ng-enter{
	-webkit-transform: translate3d(150%,0,0);
	-moz-transform: translate3d(150%,0,0);
	-o-transform: translate3d(150%,0,0);
	transform: translate3d(150%,0,0);
}

.slide.ng-enter-active{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slide.ng-leave{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slide.ng-leave-active{
	-webkit-transform: translate3d(-50%,0,0);
	-moz-transform: translate3d(-50%,0,0);
	-o-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}

/* BACK */

.back.ng-enter{
	transition: .5s cubic-bezier(0.645,.045,.355,1);
	-o-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-moz-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-webkit-transition: .5s cubic-bezier(0.645,.045,.355,1);

	-webkit-transform: translate3d(-150%,0,0);
	-moz-transform: translate3d(-150%,0,0);
	-o-transform: translate3d(-150%,0,0);
	transform: translate3d(-150%,0,0);
}

.back.ng-enter-active{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.back.ng-leave{
	transition: .5s cubic-bezier(0.645,.045,.355,1);
	-o-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-moz-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-webkit-transition: .5s cubic-bezier(0.645,.045,.355,1);

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.back.ng-leave-active{
	-webkit-transform: translate3d(50%,0,0);
	-moz-transform: translate3d(50%,0,0);
	-o-transform: translate3d(50%,0,0);
	transform: translate3d(50%,0,0);
}

/* LOGIN */

#login{
  display:none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.7);
  z-index: 350;
  color: #fff;
}

#login.show{
  display:block;
}

div#signForms{
  width:200px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 50px;
}

div#signForms>form{
	margin-bottom: 25px;
	text-align: center;
}

#gray{
  color: gray;
  padding: 5px 0;
}

div#signForms input{
	width: 188px;
  	border: solid 1px black;
  	margin-bottom: 5px; 
}

div#signForms input[type="submit"] {
	width: 200px;
}

div#signForms input[type="checkbox"] {
	width: 1em;
}

.btnSubmit {
  	width: 80px;
  	background: black;
  	color: white;
  	border: solid 1px black;
  	transition: .5s cubic-bezier(0.645,.045,.355,1);
	-o-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-moz-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-webkit-transition: .5s cubic-bezier(0.645,.045,.355,1);
  	margin-bottom: 5px; 
}

.btnSubmit:hover{
  	background: white;
  	color: black;
 	border-color: black;
  	border: solid 1px;
}

.facebookConnect{
	width: 200px;
	height: 30px;
	background: #3b5998;
	color: white;
	border: solid 1px black;
	transition: .5s cubic-bezier(0.645,.045,.355,1);
	-o-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-moz-transition: .5s cubic-bezier(0.645,.045,.355,1);
	-webkit-transition: .5s cubic-bezier(0.645,.045,.355,1);
	margin-bottom: 5px; 
}


.facebookConnect:hover{
  background: white;
  color: black;
  border-color: black;
  border: solid 1px;
}

/* NOTIFICATIONS */

aside#notifications{
	position: fixed;
	left:80px; 
	top: 0;
	width:100%;
	z-index:1000;
	overflow:hidden;
	display:none;
	transition: .3s ease;
	-o-transition: .3s ease;
	-moz-transition: .3s ease;
	-webkit-transition: .3s ease;
}

p.notification{
	text-align: center;
	padding:25px;
	margin:0 auto;
	width: 100%;
	color: #fff;
	font-size: 1em;
	background: #666;
	user-select: none;
	
	transition: .65s cubic-bezier(.2,.1,.1,1);
	-o-transition: .65s cubic-bezier(.2,.1,.1,1);
	-moz-transition: .65s cubic-bezier(.2,.1,.1,1);
	-webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
	
	transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

p.notification.success{
	background: #27ae60;
}

p.notification.error{
	background: #D72828;
}

p.notification.show{ 
	transform: translateY(0%);
	-o-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}

/* TOOLTIP */

.tooltip{
	position: fixed;
	background: #070707;
	padding: 10px;
	color: #fff;
	font-size: .8em;
	height: 1em;
	white-space : nowrap;
	border-radius: 2px;
	z-index: 350;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.marker_tooltip{
    height: 150px;
    overflow: hidden;
    background: #050505;
    position: absolute;
    z-index: 350;
    display: none;
    border-radius: 5px;
    border: 1px solid #B59E5C;
    transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.tooltipImage{
    height: 150px;
    overflow: hidden;
}

/* POSTS */

.post a{
	color:#fff;
	text-decoration: none;
}

.post a:visited{
	color:#fff;
}

.post{
	position: relative;
	display: inline-block;
	height:275px;
	max-height:100%;
	overflow: hidden;
	background: #000;
	transition: .5s ease;
	-o-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
}

.post>img{
	cursor: pointer;
}

.post.col.reduced{
	height: 250px;
	width: 16.35%;
}

.post.ng-enter{
	width:0;
	/*-webkit-transform: translateY(100px);
	transform: translateY(100px);*/
	opacity: 0;
}

.post.ng-enter-active{
	width:250px;
	/*-webkit-transform: translateY(0px);
	transform: translateY(0px);
	*/ opacity: 1;
}

.post.ng-leave-active{
    width:0px !important;
    /*-webkit-transform: translateY(100px);
    transform: translateY(100px);*/
    opacity: 0;
}

.post.ng-enter-stagger{
	transition-delay: .1s;
	-o-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-webkit-transition-delay: .1s;

	transition-duration: 0s;
	-o-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-webkit-transition-duration: 0s;
}

.post.ng-leave-stagger{
	transition-delay: .1s;
	-o-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-webkit-transition-delay: .1s;

	transition-duration: 0s;
	-o-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-webkit-transition-duration: 0s;
}

.post img{
	position: absolute;
	top:50%;
	left:50%;
	max-width: 175%;
	max-height: 175%;
	min-width: 100%;
    min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index:0;
}

.post div.over{
	position: absolute;
	bottom: -50px;
	left: 0;
	height: 50px;
	width: 100%;
	text-align: right;
	background: rgba(0,0,0,.9);
	-webkit-transition: .2s cubic-bezier(.2,.1,.1,1);
	-moz-transition: .2s cubic-bezier(.2,.1,.1,1);
	-o-transition: .2s cubic-bezier(.2,.1,.1,1);
	transition: .2s cubic-bezier(.2,.1,.1,1);
	z-index: 1;
	color: #fff;
}

.post div.over.up{
	bottom: 0;
}

.post .postRight{
	display: inline-block;
	vertical-align: bottom;
	margin-top: 18px;
	margin-right: 10px;
	font-size: 20px;
}

.post .postLeft{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}


.post .postRight span.icon-heart:before, .post .postRight span.icon-camera:before{
	font-size: 1.5em;
	cursor: auto;
}

.post div.over:hover{
	opacity: 1;
}

/*TECHNIQUE ICONES*/
div#techniques{
	margin-top: 15px;
	width: 100%;
}

span.technique{
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
}

span.technique.active{
	background-color: #1e1e1e !important;
}

span.technique.pochoir{
	background: url(../images/pochoir.svg) no-repeat;
	background-position: center;
}

span.technique.sticker{
	background: url(../images/sticker.svg) no-repeat;
	background-position: center;
}

span.technique.mosaique{
	background: url(../images/mosaique.svg) no-repeat;
	background-position: center;
}

span.technique.peinture{
	background: url(../images/peinture.svg) no-repeat;
	background-position: center;
}

span.technique.grafitti{
	background: url(../images/grafitti.svg) no-repeat;
	background-position: center;
}

span.technique.autre{
	background: url(../images/autre.svg) no-repeat;
	background-position: center;
}

/*  GRID OF FIVE   ============================================================================= */

.col {
	display: inline-block;
	width: 24.70%; 
	margin: .15% .15% .15% .15%;
}

/* LOADER Landing */

#landing{
	position:absolute;
	z-index: 10000;
	width:100%;
	height:100%;
	background: #222;
	transition: .8s cubic-bezier(0.645,.045,.355,1);
	-moz-transition: .8s cubic-bezier(0.645,.045,.355,1);
	-webkit-transition: .8s cubic-bezier(0.645,.045,.355,1);

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);

}

#landing.loaded{
	-webkit-transform: translate3d(0, -130%,0);
	-moz-transform: translate3d(0, -130%,0);
	-o-transform: translate3d(0, -130%,0);
	transform: translate3d(0, -130%,0);
}


#landing div.logo{
	position:absolute;
	left:50%;
	top:50%;
	width:90%;
	height:90%;
	max-width:350px;
	max-height:200px;
	transition: .8s ease;
	-moz-transition: .8s ease;
	-webkit-transition: .8s ease;

	-webkit-transform: translate3d(-50%, -30%,0);
	-moz-transform: translate3d(-50%, -30%,0);
	-o-transform: translate3d(-50%, -30%,0);
	transform: translate3d(-50%, -30%,0);
	opacity: 0;
}

#landing div.logo.loaded{
	-webkit-transform: translate3d(-50%, -50%,0);
	-moz-transform: translate3d(-50%, -50%,0);
	-o-transform: translate3d(-50%, -50%,0);
	transform: translate3d(-50%, -50%,0);
	opacity: 1;
}

button.enter{
	position: absolute;
	background: #fff;
	border:none;
	padding:5px 0;
	height:3px;
	width:0;
	left: 50%;
	top:50%;
	cursor: pointer;
	z-index:1;
	transition: 2s ease;
	-moz-transition: 2s ease;
	-webkit-transition: 2s ease;

	-webkit-transform: translate3d(-150px, 50px, 0);
	-moz-transform: translate3d(-150px, 50px, 0);
	-o-transform: translate3d(-150px, 50px, 0);
	transform: translate3d(-150px, 50px, 0);
}

button.enter.width{
	height:3px;
	width: 300px;
}

button.enter.height{
	transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	height:50px;
}

button.enter .enterText{
	font-family: 'Uni Sans Heavy';
	font-size:1.2em;
	transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	opacity: 0;
}

button.enter .enterText.loaded{
	opacity: 1;
}


@media only screen and (max-width: 1280px) {
	.col{
		width: 33%; 
	}

	.post.col.reduced{
		width: 24.70%;
	}
}

@media only screen and (max-width: 850px) {
	.col{
		width: 49.2%; 
	}
	
	.post.col.reduced{
		width: 33%;
	}
}

@media only screen and (max-width: 680px) {
	#viewcontainer{
		left: 0 !important;
		width: 100% !important;
	}
	.col{
		width: 99.5%;
	}
	
	.post.col.reduced{
		width: 49.2%;
	}

	.menu{
		position: fixed;
		height:50px !important;
		width:100% !important;
		bottom: -5px !important;
		top: none !important;
	}
	.menu.opened{
		width: none;
	}

	.menu ul{
		margin: 10px auto;
		text-align: center;
	}

	.menu li{
		display: inline;
		width: 25px !important;
	}

	.menu div#logo{
		display: none;
	}

	.menu #userAvatar{
		height: 25px;
		width: 25px;
	}

	.menu #userAvatar img{
		height: 25px;
		width: 25px;
	}
	.menu a.menu_link{
	    display: none;
	}

	aside#notifications{
		width:100% !important;
		left: 0 !important;
	}

	p.notification{
		width: 100% !important;
		margin-left: 0;
		padding-left: 0;
	}
}
