/* MAIN */
@font-face {
    font-family: 'Uni Sans Heavy';
    src: url('../fonts/Uni Sans Heavy.otf')format('truetype');
}

@font-face {
    font-family: 'Uni Sans Thin';
    src: url('../fonts/Uni Sans Thin.otf')format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf')format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf')format('truetype');
}

h1{
  font-family: 'Uni Sans Heavy';
  font-size: 18px;
}

h2{
  font-family: 'Uni Sans Thin';
  font-size: 18px;
}

h3{
  font-family: 'Montserrat Bold';
  font-size: 14px;
}

p{
  font-family: 'Open Sans Regular';
  font-size: 12px;
}

body{
  padding:0;
  margin:0;
  font-family: Arial;
  overflow-x:hidden;
}

.header{
  position: fixed;
  width:150px;
  height:100%;
  z-index: 10;
}

.view{
  position: absolute;
  left:0;
  top: 0;
  height:100%;
  width: 100%;
  display: block;
}

.animated{
  transition: .5s ease;
  -webkit-transition: .5s ease;
}

.scale.ng-enter{
  -webkit-transform: scale(0);
  transform: scale(0);
}

.scale.ng-enter-active{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.scale.ng-leave-active{
  -webkit-transform: scale(0);
  transform: scale(0);
}

.slide.ng-enter{
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.slide.ng-enter-active{
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide.ng-leave-active{
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}

#viewcontainer{
  position: absolute;
  left:150px;
  height:100%;
  opacity: 1;
  transition: .3s ease;
  -webkit-transition: .3s ease;
}

#viewcontainer.hidden{
  opacity: 0;
}



/* LOGIN */

#login{
  display:none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.7);
  z-index: 1000;
  color: #fff;
}
#login.show{
  display:block;
}

div#signForms{
  width:250px;
  margin: 100px auto;
}

/* NOTIFICATIONS */

aside#notifications{
  position: fixed;
  right:0; 
  top: 0;
  width:100%;
  z-index:1000;
  overflow:hidden;
  display:none;
}

p.notification{
  text-align: center;
  padding:25px;
  margin:0 auto;
  width: 100%;
  color: #fff;
  font-size: 1em;
  background: #666;
  user-select: none;
  -webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
  transition: .65s cubic-bezier(.2,.1,.1,1);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

p.notification.success{
  background: #27ae60;
}

p.notification.error{
  background: #FF5A43;
}

p.notification.show{ 
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}