/* MAIN */
@font-face {
    font-family: 'Uni Sans Heavy';
    src: url('../fonts/Uni Sans Heavy.otf')format('truetype');
}

@font-face {
    font-family: 'Uni Sans Thin';
    src: url('../fonts/Uni Sans Thin.otf')format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf')format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf')format('truetype');
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?62427218');
  src: url('../fonts/icons.eot?62427218#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff?62427218') format('woff'),
       url('../fonts/icons.ttf?62427218') format('truetype'),
       url('../fonts/icons.svg?62427218#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?62427218#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-marquee:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-resize-full:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-paper-plane:before { content: '\e80b'; } /* '' */

h1{
  font-family: 'Uni Sans Heavy';
  font-size: 18px;
}

h2{
  font-family: 'Uni Sans Thin';
  font-size: 18px;
}

h3{
  font-family: 'Montserrat Bold';
  font-size: 18px;
}

p{
  font-family: 'Open Sans Regular';
  font-size: 16px;
}

body{
  padding:0;
  margin:0;
  font-family: Arial;
  overflow-x:hidden;
}

.menu{
  position: fixed;
  width:200px;
  height:100%;
  z-index: 1000;
  background: #000;
  color: #fff;
}

.menu li{
  list-style-type: none;
  margin: 10px 0;
}

.menu a{
  color: #B59E5C;
  text-decoration: none;
}

.menu a:visited{
  color: #B59E5C;
}

.menu div#logo{

}

#viewcontainer{
  position: absolute;
  left:200px;
  height:100%;
  opacity: 1;
  transition: .3s ease;
  -webkit-transition: .3s ease;
}

#viewcontainer.hidden{
  opacity: 0;
}

.view{
  position: absolute;
  left:0;
  top: 0;
  height:100%;
  width: 100%;
  display: block;
}

.animated{
  transition: .5s ease;
  -webkit-transition: .5s ease;
}

.scale.ng-enter{
  -webkit-transform: scale(0);
  transform: scale(0);
}

.scale.ng-enter-active{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.scale.ng-leave-active{
  -webkit-transform: scale(0);
  transform: scale(0);
}

.slide.ng-enter{
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.slide.ng-enter-active{
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide.ng-leave-active{
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}

/* LOGIN */

#login{
  display:none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.7);
  z-index: 50;
  color: #fff;
}
#login.show{
  display:block;
}

div#signForms{
  width:250px;
  margin: 100px auto;
}

/* NOTIFICATIONS */

aside#notifications{
  position: fixed;
  right:0; 
  top: 0;
  width:100%;
  z-index:100;
  overflow:hidden;
  display:none;
}

p.notification{
  text-align: center;
  padding:25px;
  margin:0 auto;
  width: 100%;
  color: #fff;
  font-size: 1em;
  background: #666;
  user-select: none;
  -webkit-transition: .65s cubic-bezier(.2,.1,.1,1);
  transition: .65s cubic-bezier(.2,.1,.1,1);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

p.notification.success{
  background: #27ae60;
}

p.notification.error{
  background: #FF5A43;
}

p.notification.show{ 
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}