/* MAIN */

body{
  padding:0;
  margin:0;
  font-family: Arial;
  overflow-x:hidden;
}

.post a{
  color:#fff;
  text-decoration: none;
}

.post a:visited{
  color:#fff;
}

.header{
  position: fixed;
  width:150px;
  height:100%;
  z-index: 10;
}

.view{
  position: absolute;
  left:0;
  top: 0;
  height:100%;
  width: 100%;
  display: block;
}

.animated{
  transition: .5s ease;
  -webkit-transition: .5s ease;
}

.scale.ng-enter{
  -webkit-transform: scale(0);
  transform: scale(0);
}

.scale.ng-enter-active{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.scale.ng-leave-active{
  -webkit-transform: scale(0);
  transform: scale(0);
}

.slide.ng-enter{
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.slide.ng-enter-active{
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide.ng-leave-active{
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}

#viewcontainer{
  position: absolute;
  left:150px;
  height:100%;
  opacity: 1;
  transition: .3s ease;
  -webkit-transition: .3s ease;
}

#viewcontainer.hidden{
  opacity: 0;
}

/* HOMEPAGE */
#map{
  width:100%;
  height: 100%;
}

#filtres{
  width:100%;
  height:;
}

.post{
  position: relative;
  display: inline-block;
  height:200px;
  width:250px;
  overflow: hidden;
  background: #000;
  transition: .5s ease;
  -webkit-transition: .5s ease;
}

.post.ng-enter{
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}

.post.ng-enter-active{
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.post.ng-leave-active{
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}

.post.ng-enter-stagger{
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}

.post.ng-leave-stagger{
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
}

.post img{
  position: absolute;
  top:0;
  left:0;
  width:250px;
  height: auto;
  z-index:0;
}

.post div.over{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  background: rgba(0,0,0,.5);
  transition: .65s cubic-bezier(.2,.1,.1,1);
  z-index: 1;
  color: #fff;
}

.post div.over:hover{
  opacity: 1;
}

/* UPLOAD PAGE */

#drop{
  height:300px;
  width:300px;
  border: 5px dashed #CCC;
  text-align:   center;
  font-family: sans-serif;
  color: #CCC;
  font-size: 25px;
  line-height: 280px;
}

#drop.hover{
  color:#8dd0ff;
  border-color:#8dd0ff;
}

/* SINGLE POST */

section#player{
  overflow: hidden;
  background-color: #212124;
  padding: 20px 0;
}

nav.arrows{
  position: absolute;
  height:50px;
  width:50px;
  text-align: center;
  color: #fff;
}

nav#prev{
  left: 20px;
}

nav#next{
  right: 20px;
}

section#player>img{
  display:block;
  margin:0 auto;
}
section#post_infos{
  height: 100px;
}

span#where{
  font-size:1.5em;
}

span#artist{
  font-style: italic;
}

span.right{
  display:inline-block;
  float: right;
  margin-top:10px;
  margin-right: 50px;
}

span.left{
  display: inline-block;
}

#desc{
  color: #555;
  margin-top:5px;
}

/* COMMENTAIRES*/
div#commentaires{
  width:550px;
  margin:10px 0 50px 50px;
  padding:15px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
div#commentaires>h2{
  margin-top: -2em;
}

blockquote{
  border-left: 4px solid #aaa;
  margin:0;
  padding-left: 15px;
  font-style: italic;
}

p.date{
  font-size: 0.8em;
  color: #aaa;
}


/* LOGIN */

#login{
  display:none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.7);
  z-index: 1000;
  color: #fff;
}
#login.show{
  display:block;
}

div#signForms{
  width:250px;
  margin: 100px auto;
}

/* NOTIFICATIONS */

aside#notifications{
  position: fixed;
  right: 10px; 
  top: 10px;
  height:80px;
  min-width: 250px;
  z-index:1000;
  overflow:auto;
}

p.notification{
  text-align: center;
  padding:5px;
  margin:2px auto;
  border-radius: 5px;
  width: 90%;
  color: #fff;
  font-size: 1em;
  background: #666;
  user-select: none;
}

p.notification.success{
  background: #87E851;
}

p.notification.error{
  background: #FF5A43;
}