<!doctype html>
<html class="no-js" ng-app="artFinderApp">
	<head>
		<meta charset="utf-8">
		<title>ArtFinder</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/dropzone/downloads/css/dropzone.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/home.css">
		<link rel="stylesheet" href="styles/singlepost.css">
		<link rel="stylesheet" href="styles/addpost.css">
		<!-- endbuild -->
	</head> 
    <body ng-controller="appCtrl">
		<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


		<!-- Add your site or application content here -->
		<div id="landing" class="loading" ng-loader>
			<button class="enter"><span class="enterText">Entrer</span></button>
			<div class="logo">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Calque_1" x="0px" y="0px" viewBox="0 0 250 100" enable-background="new 0 0 250 100" xml:space="preserve">
					<text transform="matrix(1 0 0 1 16 62.8193)">
						<tspan x="0" y="0" fill="#B59E5B" font-family="'Uni Sans Thin'" font-size="40">
							A
						</tspan>
						<tspan x="24" y="0" fill="#B59E5B" font-family="'Uni Sans Thin'" font-size="40">
							R
						</tspan>
						<tspan x="47.9" y="0" fill="#B59E5B" font-family="'Uni Sans Thin'" font-size="40">
							T
						</tspan>
					</text>
					<text transform="matrix(1 0 0 1 85.48 62.8193)" fill="#FFFFFF" font-family="'Uni Sans Heavy'" font-size="40">
						FINDER
					</text>
					<defs>
						<rect id="SVGID_1_" x="106" y="74.1" width="82.3" height="25.9"/>
					</defs>
					<clipPath id="SVGID_2_">
						<use xlink:href="#SVGID_1_" overflow="visible"/>
					</clipPath>
					<path fill="#FFFFFF" d="M115.1 63.6c1-0.1 2.6-0.2 3.5-0.6 0.8-0.4 1.2-0.7 1.4-1l0.2-0.3 0.1-25.4c0 0 0-0.1-0.3-0.3 -0.5-0.4-0.9-0.3-0.9-0.3s-0.2-1.3-1.1-1.8c-0.9-0.6-1.7-0.5-1.7-0.5l-0.1-0.6 -0.2-0.1 -0.2-1.7c0 0-0.2 0-0.3 0 -0.1 0-0.2 0.1-0.9 0.1 -0.7 0-0.9-0.3-1.1-0.1 -0.1 0.2-0.2 1.7-0.2 1.7s-0.2-0.3-0.2 0.1c0 0.4 0 0.7 0 0.7s-1.6 0.1-2.1 0.8c-0.5 0.6-0.7 1.5-0.7 1.5s-0.6-0.1-1 0.3c-0.3 0.3-0.2 0.8-0.2 0.8l0.1 24.6c0 0 1 1.2 2.2 1.6 1.1 0.4 2.3 0.4 2.9 0.5C114.9 63.7 115.1 63.6 115.1 63.6"/>
					<path fill="#010202" d="M118.8 36.9v24.3c0 0-0.3 0.5-0.6 0.7 -0.3 0.2-1 0.4-1 0.4V36.3l0.6 0.1 0.6 0.3L118.8 36.9z"/>
				</svg>
			</div>
		</div>

		<div id="container">
			<div id="login" ng-click="toggleLoginOverlay()" ng-controller="signCtrl">
				<div id="signForms">

					<form role="form" ng-submit="login()">
						<h3>Login</h3>
						<input type="email" ng-model="loginInfos.mail" placeholder="yourmail@any.any"/>
						<input type="password" ng-model="loginInfos.pwd" placeholder="mot de passe"/>
						<p>Se souvenir de moi <input type="checkbox" ng-model="loginInfos.remember"></p>
						<input type="submit" value="Envoyer" />
					</form>

					<form role="form" ng-submit="signUp()">
						<h3>Sign Up !</h3>
						<input type="text" ng-model="signUpInfos.username" placeholder="nom d'utilisateur"/>
						<input type="email" ng-model="signUpInfos.mail" placeholder="yourmail@any.any"/>
						<input type="password" ng-model="signUpInfos.pwd" placeholder="mot de passe"/>
						<input type="password" ng-model="signUpInfos.repeatpwd" placeholder="retappez votre mot de passe"/>
						<input type="submit" value="Envoyer" />
					</form>

					<!-- Facebook login -->
					<button type="button" class="facebookConnect" ng-show="!loggedWithFB" data-ng-disabled="!facebookReady" data-ng-click="loginWithFacebook()">Login with Facebook</button>
          			<button type="button" class="facebookConnect" ng-show="loggedWithFB" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>

          			<!-- Google login -->
          			<!-- <span class="googleConnect">
						<span
						    class="g-signin"
						    data-callback="googleConnectCallback"
						    data-clientid="761215881078-aufhbvivgo3l3gkrph81p7c4r44285cs.apps.googleusercontent.com"
						    data-cookiepolicy="single_host_origin"
						    data-requestvisibleactions="http://schemas.google.com/AddActivity"
						    data-scope="https://www.googleapis.com/auth/plus.login">
						</span>
					</span> -->
				</div>
			</div>
			<header class="menu">
				<div ng-click="redirectTo()" id="logo"></div>
				
				<ul>
					<li ng-click="redirectTo()" class="icon-globe"><a class="menu_link hidden" href="">Explorer</a></li>
					<li ng-click="redirectTo('addpost')" class="icon-camera"><a class="menu_link hidden" href="">Ajouter un mur</a></li>
					<li ng-click="toggleLoginOverlay()" ng-hide="isAuthenticated()" class="icon-user"><a class="menu_link hidden" href="">Se connecter / S'inscrir</a></li>
					<li ng-click="logout()" ng-show="isAuthenticated()" class="icon-user"><a class="menu_link hidden" href="">Déconnexion</a></li>
					<!-- <li class="icon-paper-plane"><a class="menu_link hidden" href="#/">About</a></li> -->
				</ul>

				<div style="text-align:center;" ng-show="isAuthenticated()"><img ng-src="{{currentUser.avatar}}" /></div>
			</header>

			<div id="viewcontainer">
				<aside id="notifications"></aside>
				<div class="view {{animation}}" ng-view></div>
			</div>

			<footer class="footer">
			</footer>
		</div>


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
        </script>
        -->
		<!-- build:js(.) scripts/oldieshim.js -->
		<!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
		<!-- endbuild -->

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX9nAl6EjY0r2fBPVTK7QU4iJBeD-t5oc"></script>

		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/dropzone/downloads/dropzone.min.js"></script>
		<script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>

		<script src="scripts/controllers/appCtrl.js"></script>
		<script src="scripts/controllers/homeCtrl.js"></script>
		<script src="scripts/controllers/addpostCtrl.js"></script>
		<script src="scripts/controllers/singlepostCtrl.js"></script>
		<script src="scripts/controllers/signCtrl.js"></script>

		<script src="scripts/services/post.js"></script>
		<script src="scripts/services/auth.js"></script>
		<script src="scripts/services/geoloc.js"></script>
		<script src="scripts/services/ui.js"></script>
        <script src="scripts/services/socket.js"></script>

		<script src="scripts/directives/showpostlocation.js"></script>
		<script src="scripts/directives/mousewheel.js"></script>
		<script src="scripts/directives/loader.js"></script>
		<script src="scripts/directives/tooltip.js"></script>
        <script src="scripts/directives/formprogress.js"></script>

		<script src="scripts/filters/reversefilter.js"></script>
		<!-- endbuild -->
		
		<!-- Google Connect -->
		<script type="text/javascript">
	  //   	(function() {
		 //    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		 //    	po.src = 'https://apis.google.com/js/client:plusone.js';
		 //    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  //   	})();


	  //   	function googleConnectCallback(authResult) {
			// 	if (authResult['access_token']) {
			// 	    // Autorisation réussie
			// 	    // Masquer le bouton de connexion maintenant que l'utilisateur est autorisé, par exemple :
			// 	    //document.getElementById('signinButton').setAttribute('style', 'display: none');
			// 	    console.log(authResult);
			// 	} else if (authResult['error']) {
			// 	    // Une erreur s'est produite.
			// 	    // Codes d'erreur possibles :
			// 	    //   "access_denied" - L'utilisateur a refusé l'accès à votre application
			// 	    //   "immediate_failed" - La connexion automatique de l'utilisateur a échoué
			// 	    console.log('Une erreur s\'est produite : ' + authResult['error']);
			// 	}
			// }
    	</script>
	</body>
</html>
