<!doctype html>
<html class="no-js" ng-app="artFinderApp">
	<head>
		<meta charset="utf-8">
		<title>ArtFinder</title>
		<meta name="description" content="">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/flaticon.css">
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/home.css">
		<link rel="stylesheet" href="styles/singlepost.css">
		<link rel="stylesheet" href="styles/addpost.css">
		<!-- endbuild -->
	</head> 
    <body ng-controller="appCtrl">
		<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


		<!-- Add your site or application content here -->
		<div id="landing" class="loading" ng-loader>
			<button class="enter"><span class="enterText">Entrer</span></button>
			<div class="logo">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 502 81.3" enable-background="new 0 0 502 81.3" xml:space="preserve">
						<text transform="matrix(1 0 0 1 -100.8321 223.777)" font-family="'ArialMT'" font-size="29.376">     </text>
						<text transform="matrix(1 0 0 1 175.2486 77.7906)" font-family="'ArialMT'" font-size="29.376">     </text>
						<text transform="matrix(1 0 0 1 240.3642 77.7906)" font-family="'ArialMT'" font-size="29.376">     </text>
						<text transform="matrix(1 0 0 1 287.3181 77.7906)" font-family="'ArialMT'" font-size="29.376">   </text>
						<g enable-background="new    ">
							<path fill="#FFFFFF" d="M190.3,37.9H217v16.4h-26.7v23.9h-17.7V8.8h48.3v16.6h-30.5V37.9z"/>
							<path fill="#FFFFFF" d="M257.5,8.8h16.6l16.7,29.6l5.9,13.9l0.5-0.1c-0.1,0-1.9-11.9-2-11.9V8.8h17.4v69.3H295l-15.7-27.3
								l-6.1-13.9l-0.5,0.1l2.3,13.4v27.7h-17.5V8.8z"/>
							<path fill="#FFFFFF" d="M349.6,8.8c13.9,0,26.9,7,26.9,23.2v23.3c0,16-13,22.9-26.9,22.8h-25.9V8.8H349.6z M350.2,61.7
								c6,0,8.7-3,8.7-7.5V32.5c0-4.5-2.8-7.3-8.7-7.3h-8.9v36.5H350.2z"/>
							<path fill="#FFFFFF" d="M403.7,36h28.1v15.2h-28.1v10.4h30.5v16.5h-48.3V8.8h48.3v16.4h-30.5V36z"/>
							<path fill="#FFFFFF" d="M464.4,56.1h-3.1v22h-17.7V8.8h27.7c14.3,0,25.4,6.6,25.8,22.8c0,12.8-5.2,20.1-13.6,22.7l18.9,23.8h-21.8
								L464.4,56.1z M471.5,41c11.1,0,11.1-15.9,0-15.9h-10.3V41H471.5z"/>
						</g>
						<path fill="#FFFFFF" d="M251.8,12.4c-1.2-1-2.2-0.7-2.2-0.7s-0.5-3.2-2.7-4.4c-2.2-1.5-4.2-1.2-4.2-1.2l-0.2-1.5L242,4.3l-0.5-4.2
							c0,0-0.5,0-0.7,0s-0.5,0.2-2.2,0.2c-1.7,0-2.2-0.7-2.7-0.2c-0.2,0.5-0.5,4.2-0.5,4.2s-0.5-0.7-0.5,0.2s0,1.7,0,1.7s-3.9,0.2-5.1,2
							c-1.2,1.5-1.7,3.7-1.7,3.7s-1.5-0.2-2.4,0.7c-0.7,0.7-0.5,2-0.5,2l0.2,60.2c0,0,2.4,2.9,5.4,3.9c2.7,1,5.6,1,7.1,1.2
							c1.5,0.2,2,0,2,0c2.4-0.2,6.4-0.5,8.6-1.5c2-1,2.9-1.7,3.4-2.4l0.9-1l-0.1-61.9C252.6,13.1,252.6,12.9,251.8,12.4z M248.9,74.1
							c0,0-0.7,1.2-1.5,1.7c-0.7,0.5-2.4,1-2.4,1V13.1l1.5,0.2l1.5,0.7l1,0.5V74.1z"/>
						<g>
							<path fill="#B59E5B" d="M2.6,78.1H0L25.7,8.8h3.9l25.7,69.3h-2.6l-9.2-24.8H11.8L2.6,78.1z M27.4,11.2L12.7,50.9h29.8L27.8,11.2
								H27.4z"/>
							<path fill="#B59E5B" d="M107.5,78.1L84.2,47.2H68.4v30.9h-2.4V8.8h24.5c12,0,21.2,4.7,21.5,18.8c0,14.4-8.8,19.6-21.4,19.6H87
								l23.4,30.9H107.5z M90.7,45c12.6,0,19.1-5.1,19.1-17.3c0-12.5-8-16.8-19.1-16.6H68.4v34H90.7z"/>
							<path fill="#B59E5B" d="M166.2,11.2h-23.1v66.9h-2.4V11.2h-23.1V8.8h48.7V11.2z"/>
						</g>
				</svg>

			</div>
		</div>

		<div id="container">
			<div id="login" ng-click="toggleLoginOverlay()" ng-controller="signCtrl">
				<div id="signForms">

					<form role="form" ng-submit="login()">
						<h3>Login</h3>
						<input type="email" ng-model="loginInfos.mail" placeholder="yourmail@any.any"/>
						<input type="password" ng-model="loginInfos.pwd" placeholder="mot de passe"/>
						<p>Se souvenir de moi <input type="checkbox" ng-model="loginInfos.remember"></p>
						<input type="submit" value="Envoyer" />
					</form>

					<form role="form" ng-submit="signUp()">
						<h3>Sign Up !</h3>
						<input type="text" ng-model="signUpInfos.username" placeholder="nom d'utilisateur"/>
						<input type="email" ng-model="signUpInfos.mail" placeholder="yourmail@any.any"/>
						<input type="password" ng-model="signUpInfos.pwd" placeholder="mot de passe"/>
						<input type="password" ng-model="signUpInfos.repeatpwd" placeholder="retappez votre mot de passe"/>
						<input type="submit" value="Envoyer" />
					</form>

					<!-- Facebook login -->
					<button type="button" class="facebookConnect" ng-show="!loggedWithFB" data-ng-disabled="!facebookReady" data-ng-click="loginWithFacebook()">Login with Facebook</button>
          			<button type="button" class="facebookConnect" ng-show="loggedWithFB" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>

          			<!-- Google login -->
          			<!-- <span class="googleConnect">
						<span
						    class="g-signin"
						    data-callback="googleConnectCallback"
						    data-clientid="761215881078-aufhbvivgo3l3gkrph81p7c4r44285cs.apps.googleusercontent.com"
						    data-cookiepolicy="single_host_origin"
						    data-requestvisibleactions="http://schemas.google.com/AddActivity"
						    data-scope="https://www.googleapis.com/auth/plus.login">
						</span>
					</span> -->
				</div>
			</div>
			<header class="menu">
				<div ng-click="redirectTo()" id="logo"></div>
				
				<ul>
					<li ng-click="redirectTo()" class="icon-globe"><a class="menu_link hidden" href="">Explorer</a></li>
					<li ng-click="redirectTo('addpost')" class="icon-camera"><a class="menu_link hidden" href="">Ajouter un mur</a></li>
					<li ng-click="toggleLoginOverlay()" ng-hide="isAuthenticated()" class="icon-user"><a class="menu_link hidden" href="">Se connecter</a></li>
					<li ng-click="logout()" ng-show="isAuthenticated()" class="icon-user"><a class="menu_link hidden" href="">Déconnexion</a></li>
					<!-- <li class="icon-paper-plane"><a class="menu_link hidden" href="#/">About</a></li> -->
				</ul>

				<div id="userAvatar" ng-tooltip="Bonjour {{currentUser.username}}" ng-show="isAuthenticated()"><img ng-src="{{currentUser.avatar}}" /><a class="menu_link hidden" href=""></a></div>
			</header>

			<div id="viewcontainer">
				<aside id="notifications"></aside>
				<div class="view {{animation}}" ng-view></div>
			</div>

			<footer class="footer">
			</footer>
		</div>


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
        </script>
        -->
		<!-- build:js(.) scripts/oldieshim.js -->
		<!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
		<!-- endbuild -->

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX9nAl6EjY0r2fBPVTK7QU4iJBeD-t5oc"></script>
		
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> 
		<!-- <script src="https://artfindersocket.herokuapp.com/socket.io/socket.io.js"></script> -->
    

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-resource/angular-resource.js"></script>
		<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="../bower_components/angular-animate/angular-animate.js"></script>
		<script src="../bower_components/angular-touch/angular-touch.js"></script>
		<script src="../bower_components/angular-route/angular-route.js"></script>
		<script src="../bower_components/dropzone/downloads/dropzone.min.js"></script>
		<script src="../bower_components/angular-facebook/lib/angular-facebook.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>

		<script src="scripts/controllers/appCtrl.js"></script>
		<script src="scripts/controllers/homeCtrl.js"></script>
		<script src="scripts/controllers/addpostCtrl.js"></script>
		<script src="scripts/controllers/singlepostCtrl.js"></script>
		<script src="scripts/controllers/signCtrl.js"></script>

		<script src="scripts/services/post.js"></script>
		<script src="scripts/services/auth.js"></script>
		<script src="scripts/services/geoloc.js"></script>
		<script src="scripts/services/ui.js"></script>
        <script src="scripts/services/socket.js"></script>

		<script src="scripts/directives/showpostlocation.js"></script>
		<script src="scripts/directives/mousewheel.js"></script>
		<script src="scripts/directives/loader.js"></script>
		<script src="scripts/directives/tooltip.js"></script>
        <script src="scripts/directives/formprogress.js"></script>
        <script src="scripts/directives/playerarrow.js"></script>

		<script src="scripts/filters/reversefilter.js"></script>
		<!-- endbuild -->
		
		<!-- Google Connect -->
		<script type="text/javascript">
	  //   	(function() {
		 //    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		 //    	po.src = 'https://apis.google.com/js/client:plusone.js';
		 //    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  //   	})();


	  //   	function googleConnectCallback(authResult) {
			// 	if (authResult['access_token']) {
			// 	    // Autorisation réussie
			// 	    // Masquer le bouton de connexion maintenant que l'utilisateur est autorisé, par exemple :
			// 	    //document.getElementById('signinButton').setAttribute('style', 'display: none');
			// 	    console.log(authResult);
			// 	} else if (authResult['error']) {
			// 	    // Une erreur s'est produite.
			// 	    // Codes d'erreur possibles :
			// 	    //   "access_denied" - L'utilisateur a refusé l'accès à votre application
			// 	    //   "immediate_failed" - La connexion automatique de l'utilisateur a échoué
			// 	    console.log('Une erreur s\'est produite : ' + authResult['error']);
			// 	}
			// }
    	</script>
	</body>
</html>
