<div class="drop" id="drop">Drag & Drop or click</div>
<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->

<span class="fileupload-process">
    <div id="total-progress" class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:300px; opacity: 0;">
    	<div class="progress-bar progress-bar-success" style="width: 0%;" data-dz-uploadprogress=""></div>
    </div>
</span>

<img id="photorender" ng-src="" />
<div class="table table-striped" class="files" id="previews">
 
	<div id="template">
		<!-- This is used as the file preview template -->
		<div>
			<span class="preview"><img data-dz-thumbnail /></span>
		</div>
		<div>
			<p class="name" data-dz-name></p>
			<strong class="error text-danger" data-dz-errormessage></strong>
		</div>
		<div>
			<p class="size" data-dz-size></p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
		</div>
		<div>
			<button class="btn btn-primary start">
				<i class="glyphicon glyphicon-upload"></i>
				<span>Start</span>
			</button>
			<button data-dz-remove class="btn btn-warning cancel">
				<i class="glyphicon glyphicon-ban-circle"></i>
				<span>Cancel</span>
			</button>
			<button data-dz-remove class="btn btn-danger delete">
				<i class="glyphicon glyphicon-trash"></i>
				<span>Delete</span>
			</button>
		</div>
	</div>
</div>

<div id="formMap"></div>
<label>Adresse : </label><input type="text" ng-model="newPost.address" ng-change="addressChange()"/>

<section id="closePostsContainer" ng-show="closePosts.length">
	<h3>Des murs ont été partagés à cet endroit.</h3>
	<p>Selectionner l'un de ces murs pour y ajouter votre photo</p>
	<div class="post col" ng-repeat="post in closePosts">
		<div  class="{{post.id}}">
		    <img ng-src="{{post.photos[0].url}}" />
		    <div class="over"  ng-click="selectClosePost({{post}})">
		        <p>{{post.likes.length}} Likes</p>
		    </div>
		</div>
	</div>
</section>

<form id="addPhotoForm">
	<div>
	    <label>Technique utilisée : </label>
	    <select ng-model="newPost.photos[0].technique">
			<option value="pochoir">Pochoir</option>
			<option value="sculpture">Sculpture</option>
			<option value="peinture">Peinture</option>
			<option value="grafitti">Grafitti</option>
			<option value="collage">Collage</option>
			<option value="autre">Autre</option>
	    </select>
    </div>
    <div>
    	<label>Description : </label>
    	<textarea ng-model="newPost.photos[0].description"></textarea>
    </div>
    <div>
    	<label>L'oeuvre existe t'elle toujours ?</label>
    	<input type="checkbox" ng-model="newPost.photos[0].stillExist" />
    </div>
    <div>
		<input type="submit" id="addPhotoBtn" value="Ajouter ma photo à ce post !" />
	</div>
</form>

<form id="addPostForm" role="form" ng-submit="addPost()">
    <div>
	    <label>Technique utilisée : </label>
	    <select ng-model="newPost.photos[0].technique">
			<option value="pochoir">Pochoir</option>
			<option value="sculpture">Sculpture</option>
			<option value="peinture">Peinture</option>
			<option value="grafitti">Grafitti</option>
			<option value="collage">Collage</option>
			<option value="autre">Autre</option>
	    </select>
    </div>
    <div>
    	<label>Description : </label>
    	<textarea ng-model="newPost.photos[0].description"></textarea>
    </div>
    <div>
    	<label>L'oeuvre existe t'elle toujours ?</label>
    	<input type="checkbox" ng-model="newPost.photos[0].stillExist" />
    </div>
    <div>
    	<input type="submit" value="Ajouter le mur !" />
    </div>
</form>
