<!--NAVIGATION-->
<nav id="addpostnav">
    <div id="formProgress">
        <formprogress id="formProgressBar"><p id="formStep">Ajoutez une photo - 1/3</p></formprogress>
        
    </div>
</nav>

<!--SECTION DRAG DROP-->
<section class="drop formSection">
    <div id="drop">Drag & Drop or click</div>

    <img id="photorender" ng-src="" />
    
    <div class="files" id="previews">

        <div id="template">
            <!-- This is used as the file preview template -->
            <div id="previewImageContainer">
                <img class="previewImage" data-dz-thumbnail />
            </div>
            <div>
                <p class="name" data-dz-name></p>
                <p id="addPostErrorMsg" data-dz-errormessage></p>
            </div>
            <div>
                <p class="size" data-dz-size></p>
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar" style="width:0%;" data-dz-uploadprogress></div>
                </div>
            </div>
            <div>
                <button class="start">Start</button>
                <button data-dz-remove class="cancel">Cancel</button>
            </div>
        </div>
    </div>
</section>

<!--SECTION LOCATE-->
<section class="formSection" id="locate">
    <div id="formMap"></div>
    <span id="addressInputContainer">
        <span id="addressPin"></span> 
        <input id="addressInput" type="text" placeholder="Ou ce trouve ce mur ?" ng-model="newPost.address" ng-change="addressChange()"/>
        <button ng-if="newPost.coords.latitude" ng-click="smoothScrollTo('#newPostInfos')">Valider</button>
    </span>

    <section id="closePostsContainer" ng-show="closePosts.length">
        <h1>Des murs ont été partagés à cet endroit.</h1>
        <div ng-repeat="post in closePosts"  class="post col postN{{post.id}}" ng-tooltip="Ajouter à ce mur">
            <img ng-src="{{post.photos[0].url}}" />
            <div class="over"  ng-click="selectClosePost({{post}})">
                <p>{{post.likes.length}} Likes</p>
            </div>
        </div>
    </section>
</section>

<!--SECTION POSTINFOS-->
<section class="formSection" id="newPostInfos">
    <form id="addPhotoForm">
        <div>
            <label>Technique utilisée : </label>
            <select ng-model="newPost.photos[0].technique">
                <option value="pochoir">Pochoir</option>
                <option value="sticker">Sticker</option>
                <option value="peinture">Peinture</option>
                <option value="grafitti">Grafitti</option>
                <option value="mosaique">Mosaique</option>
                <option value="autre">Autre</option>
            </select>
        </div>
        <div>
            <label>Description : </label>
            <textarea ng-model="newPost.photos[0].description"></textarea>
        </div>
        <div>
            <label>L'oeuvre existe t'elle toujours ?</label>
            <input type="checkbox" ng-model="newPost.photos[0].stillExist" />
        </div>
        <div>
            <input type="submit" id="addPhotoBtn" value="Ajouter ma photo à ce mur !" />
        </div>
    </form>

    <form id="addPostForm" role="form" ng-submit="addPost()">
        <div>
            <label>Technique utilisée : </label>
            <select ng-model="newPost.photos[0].technique">
                <option value="pochoir">Pochoir</option>
                <option value="sculpture">Sculpture</option>
                <option value="peinture">Peinture</option>
                <option value="grafitti">Grafitti</option>
                <option value="mosaique">Mosaique</option>
                <option value="autre">Autre</option>
            </select>
        </div>
        <div>
            <label>Description : </label>
            <textarea ng-model="newPost.photos[0].description"></textarea>
        </div>
        <div>
            <label>L'oeuvre existe t'elle toujours ?</label>
            <input type="checkbox" ng-model="newPost.photos[0].stillExist" />
        </div>
        <div>
            <input type="submit" value="Ajouter le mur !" />
        </div>
    </form>
</section>
