<section class="map" id="map"></section>

<div id="filters">
    <input type="text" id="search" placeholder="Recherche" ng-model="filters.search"/>
    <div id="techniques">
      <span ng-tooltip="Pochoir" class="technique pochoir" ng-click="setTechnique('pochoir')"></span>
      <span ng-tooltip="Sticker" class="technique sticker" ng-click="setTechnique('sticker')"></span>
      <span ng-tooltip="Peinture" class="technique peinture" ng-click="setTechnique('peinture')"></span>
      <span ng-tooltip="Grafitti" class="technique grafitti" ng-click="setTechnique('grafitti')"></span>
      <span ng-tooltip="Mosaique" class="technique mosaique" ng-click="setTechnique('mosaique')"></span>
      <span ng-tooltip="Autre" class="technique autre" ng-click="setTechnique('autre')"></span>
    </div>
</div>

<section class="section" id="mosaic" ng-mousewheel="loadPosts()">
  <div class="post col" ng-repeat="post in posts | filter:filters.technique | filter:filters.search">
      <img ng-src="{{post.photos[0].url}}" />
      <div class="over"  ng-click="redirectTo('singlepost', {{post.id}})">
        <p>{{post.likes.length}} Likes</p>
        <p>{{post.photos.length}} Photos</p>
        <a href="" ng-click="showPostLocation($event, {{post}})">Voir sur la Carte</a>
      </div>
  </div>
</section>

<div id="switcher" ng-click="switchMozMap()"></div>