<section class="map" id="map"></section>

<div id="filters">
    <input type="text" id="search" placeholder="Recherche" ng-model="filters.search"/>
    <label>Technique utilisée : </label><select ng-model="filters.technique">
      <option value="">Toutes</option>
      <option value="pochoir">Pochoir</option>
      <option value="sculpture">Sculpture</option>
      <option value="peinture">Peinture</option>
      <option value="grafitti">Grafitti</option>
      <option value="collage">Collage</option>
      <option value="autre">Autre</option>
    </select>
    <button ng-click="socket(3)">Socket</button>
</div>

<section class="section" id="mosaic" ng-mousewheel="loadPosts()">
  <div class="post col" ng-repeat="post in posts | filter:filters.technique | filter:filters.search">
      <img ng-src="{{post.photos[0].url}}" />
      <div class="over"  ng-click="redirectTo('singlepost', {{post.id}})">
        <p>{{post.likes.length}} Likes</p>
        <p>{{post.photos.length}} Photos</p>
        <a href="" ng-click="showPostLocation($event, {{post}})">Voir sur la Carte</a>
      </div>
  </div>
</section>

<div id="switcher" ng-click="switchMozMap()"></div>