<div class="container">
	<section id="player" class="player">
		<nav class="arrows" id="prev"></nav>
		<nav class="arrows" id="next"></nav>
		<img ng-src="{{post.photos[currentPhotoId].url}}" />
		<div class="tagWrapper">
			<div ng-repeat="artist in post.photos[currentPhotoId].artists">
				<div  class="tagBox" ng-mouseenter="showTag=true" ng-mouseleave="showTag=false" style="left:{{artist.left}}%;top:{{artist.top}}%;width:{{artist.width}}%;height:{{artist.height}}%;" data-artist="{{artist.name}}">
					<div class="tagName" ng-show="showTag">{{artist.name}}</div>
				</div>
			</div>
		</div>
		<div class="control"></div>
	</section>

	<section class="map"></section>

	<section id="short_infos">
		<span class="left">
			<span id="where" ng-click="toggleMap()" ng-tooltip="Voir sur la carte">{{post.address}}</span>
			<span id="artists">
				<span ng-repeat="artist in post.photos[currentPhotoId].artists">
					<span class="artist" ng-click="redirectTo('search', '{{artist.name}}')" ng-tooltip="Oeuvres de l'artiste">{{artist.name}}</span>
				</span>
				<a class="identification icon-marquee" ng-show="isAuthenticated() && !identifying" href="" ng-click="startIdentification()"> Identifier un artiste</a>
				<a class="identification" ng-show="isAuthenticated() && identifying" href="" ng-click="addArtist()"> Ajouter l'identification</a>
				<a class="identification" ng-show="isAuthenticated() && identifying" href="" ng-click="cancelIdentification()"> Annuler</a>
			</span>
		</span>
		<span class="right">
			<span id="like" ng-click="likePost()">
				{{post.likes.length}}<span ng-if="!isLiked(post)" class="icon-heart-empty"></span><span  ng-if="isLiked(post)" class="icon-heart"></span>
			</span>
			<span id="nb_comments" ng-click="smoothScrollTo('#infos')">
				{{post.comments.length}}<span ng-if="post.comments.length" class="icon-comment"></span><span ng-if="!post.comments.length" class="icon-comment-empty"></span>
			</span>
		</span>
	</section>

	<section id="infos">
		<div class="right">
			<h3>{{createFullDate()}}</h3>
			<p class="flaticon-checkboxmark" ng-if="post.photos[currentPhotoId].stillExist"> Yes ! L'oeuvre existe toujours</p>
			<p class="flaticon-cross102" ng-if="!post.photos[currentPhotoId].stillExist"> Hélas, cette oeuvre n'existe existe plus</p>
		</div>
		<div class="left">
			<div class="desc">
				<img class="avatar" ng-src="{{post.photos[currentPhotoId].user.avatar}}" />
				<div class="comment_info">
					<h3 class="username">{{post.photos[currentPhotoId].user.username}}</h3>
					<p class="content" ng-if="post.photos[currentPhotoId].description">{{post.photos[currentPhotoId].description}}</p>
					<p class="discret" ng-if="!post.photos[currentPhotoId].description">Pas très bavard ... </p>
				</div>
			</div>

			<section>
				<div ng-if="post.comments.length" id="commentaires">
					<h3>{{post.comments.length}} Commentaires</h3>
					<div ng-repeat="comment in post.comments">
						<div class="comment">
							<div class="deleteComment flaticon-cross102" ng-click="deleteComment(comment)" ng-tooltip="Supprimer le commentaire" ng-if="comment.user.id === currentUser.id"></div>
							<img class="avatar" ng-src="{{comment.user.avatar}}" />
							<div class="comment_info">
								<h3 class="username">{{comment.user.username}}</h3><span class="discret" ng-if="post.photos.length > 1"> À propos de la photo n°{{comment.activePhoto}}</span>
								<p class="content">{{comment.content}}</p>
								<p class="discret">{{comment.date}}</p>
							</div>
						</div>
					</div>
				</div>
				<div ng-show="isAuthenticated()">
					<h3>Commenter</h3>
					<form role="form" ng-submit="addComment()">
						<div class="comment">
							<img class="avatar" ng-src="{{currentUser.avatar}}" />
							<div class="comment_info">
								<h3 class="username">{{currentUser.username}}</h3>
								<textarea type="text" class="content" ng-change="checkKey()" ng-model="newComment.content" placeholder="message"></textarea>
								<input type="submit" value="Envoyer" />
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
		<div style="clear:both;"></div>
	</section>


	<section class="closePosts">
		<h1>Murs à proximité</h1>
		<div id="closePostsContainer">
			<div class="post col" ng-repeat="post in closePosts">
			    <img ng-src="{{post.photos[0].url}}" />
			    <div class="over"  ng-click="redirectTo('singlepost', {{post.id}})">
			      <p>{{post.likes.length}} Likes</p>
			      <p>{{post.photos.length}} Photos</p>
			    </div>
			</div>
		</div>
	</section>
</div>