<div ng-singlepost>
	<section id="player" class="player">
		<nav class="arrows" id="prev">Prev</nav>
		<nav class="arrows" id="next">Next</nav>
		<img ng-src="{{post.photos[currentPhotoId].url}}" />
		<div class="control"></div>
	</section>
	<section id="post_infos">
		<span class="left">
			<span id="where">{{post.address}}</span>
			<span id="artist"><span ng-repeat="artist in post.photos[currentPhotoId].artists">, {{artist.name}}</span></span>
		</span>
		<span class="right">	
			<span id="like" ng-click="likePost()">{{post.likes.length}} Like !</span>
			<span id="nb_comments">{{post.comments.length}} Commentaires</span>
		</span>
		<p id="desc">{{post.description}}</p>

	</section>

	<section>
		<div id="commentaires">
			<h2>Commentaires</h2>
			<div ng-repeat="comment in post.comments">

				<p><strong>{{comment.username}}</strong>  <span class="activephoto"> Photo n°{{comment.activePhoto}}</span></p>
				<blockquote>
					<p>{{comment.content}}</p>
				</blockquote>
				<p class="date">{{comment.date}}</p>

			</div>
			<div ng-show="isAuthenticated()">
				<h4>écrire un commentaire</h4>
				<form role="form" ng-submit="addComment()">
					<textarea type="text" ng-model="newComment.content" placeholder="message"></textarea>
					<input type="submit" value="Envoyer" />
				</form>
			</div>
		</div>
	</section>
</div>