<div ng-singlepost>
	<section id="player" class="player">
		<nav class="arrows" id="prev">Prev</nav>
		<nav class="arrows" id="next">Next</nav>
		<img ng-src="{{post.photos[currentPhotoId].url}}" />
		<div class="tagWrapper">
			<div ng-repeat="artist in post.photos[currentPhotoId].artists">
				<div  class="tagBox" ng-mouseenter="showTag=true" ng-mouseleave="showTag=false" style="left:{{artist.left}}%;top:{{artist.top}}%;width:{{artist.width}}%;height:{{artist.height}}%;" data-artist="{{artist.name}}">
					<div class="tagName" ng-show="showTag">{{artist.name}}</div>
				</div>
			</div>
		</div>
		<div class="control"></div>
	</section>
	<div id="below">
		<section class="map"></section>
		<section id="post_infos">
			<span class="left">
				<span id="where" ng-click="toggleMap()">{{post.address}}</span>
				<span id="artist">
					<span ng-repeat="artist in post.photos[currentPhotoId].artists">, {{artist.name}}</span>
					<a id="identification" ng-show="isAuthenticated() && !identifying" href="" ng-click="startIdentification()"> Identifier un artiste</a>
					<a id="identification" ng-show="isAuthenticated() && identifying" href="" ng-click="addArtist()"> Ajouter l'identification</a>
					<a id="identification" ng-show="isAuthenticated() && identifying" href="" ng-click="cancelIdentification()"> Annuler</a>
				</span>
			</span>
			<span class="right">
				<span id="like" ng-click="likePost()">{{post.likes.length}} Like !</span>
				<span id="nb_comments">{{post.comments.length}} Commentaires</span>
			</span>
			<p id="desc">{{post.description}}<span ng-if="!!post.photos[currentPhotoId].hosterUsername"> / Ajouté par {{post.photos[currentPhotoId].hosterUsername}}</span></p>

		</section>

		<section>
			<div ng-if="post.comments.length" id="commentaires">
				<h2>Commentaires</h2>
				<div ng-repeat="comment in post.comments">

					<p><strong>{{comment.username}}</strong>  <span class="activephoto"> Watching picture n°{{comment.activePhoto}}</span></p>
					<blockquote>
						<p>{{comment.content}}</p>
					</blockquote>
					<p class="date">{{comment.date}}</p>

				</div>
				<div ng-show="isAuthenticated()">
					<h4>écrire un commentaire</h4>
					<form role="form" ng-submit="addComment()">
						<textarea type="text" ng-model="newComment.content" placeholder="message"></textarea>
						<input type="submit" value="Envoyer" />
					</form>
				</div>
			</div>
		</section>

		<section class="closePosts">
			<h1>Murs à proximité</h1>
			<div id="closePostsContainer">
				<div class="post" ng-repeat="post in closePosts">
				    <img ng-src="{{post.photos[0].url}}" />
				    <div class="over"  ng-click="redirectTo('singlepost', {{post.id}})">
				      <p>{{post.likes.length}} Likes</p>
				      <p>{{post.photos.length}} Photos</p>
				    </div>
				</div>
			</div>
		</section>
	</div>
</div>